version: '3.8' # 指定 Compose 文件的版本 。3.8 是目前最常用的版本，支持绝大多数现代功能 。
services: # 定义该项目下所有的容器服务
  db: # 服务名称，其他容器可以通过这个名称（即主机名）在网络中访问它
    image: postgres:15
    container_name: productivity-db # 为生成的容器指定一个固定的名字，而不是由 Docker 随机生成 。
    environment: # 设置环境变量
      POSTGRES_DB: productivity_hub_prod # 初始化时创建的数据库名称
      POSTGRES_USER: postgres # 显式指定用户名（默认为 postgres）
      POSTGRES_PASSWORD: hubProd@admin # 设置数据库管理员（postgres）密码
#    ports:
#      - "5432:5432" # 将宿主机的 5432 端口映射到容器的 5432 端口
    volumes:
      - ~/workspace/docker.data/productivity-hub/postgres_data:/var/lib/postgresql/data # 持久化数据库文件
      - ./productivity-hub-backend/src/main/resources/init-script:/docker-entrypoint-initdb.d # 将 SQL 脚本映射到容器的初始化目录

  redis:
    image: redis:7-alpine # 使用 Redis 7 的 Alpine 版本镜像 。Alpine 镜像体积非常小，能节省存储空间 。
    container_name: productivity-redis
#    ports:
#      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3.12.14-management
    container_name: productivity-rabbitmq
#    ports:
#      - "5672:5672"   # 消息通信端口
#      - "15672:15672" # 管理界面端口
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin123
      - RABBITMQ_DEFAULT_VHOST=/

  app-backend: # 服务名称
    build: productivity-hub-backend # 指示 Compose 在当前目录下寻找 Dockerfile 并构建镜像，而不是从远程仓库下载 。
    container_name: productivity-app-backend
    ports:
      - "9090:8888"
    environment:
      - SPRING_PROFILES_ACTIVE=prod # 设置 Spring Boot 的激活配置文件为 prod 。这将对应 Dockerfile 中的 ${SPRING_PROFILES_ACTIVE} 变量 。
    volumes:
      - ~/workspace/docker.data/productivity-hub/logs:/app/logs # 日志持久化
      - ~/workspace/docker.data/productivity-hub/config/application-prod.yml:/app/config/application-prod.yml:ro # 外部配置，挂载到容器内 Spring Boot 默认的配置扫描路径
    depends_on: # 服务依赖关系 ：告诉 Docker 启动 app 之前，必须先启动 db 和 redis 容器 。
      - db
      - redis
      - rabbitmq
    logging:                  # 为了防止 Docker 容器的 .log 文件无限增长撑爆服务器硬盘，必须在 docker-compose.yml 中配置 logging 驱动
      driver: "json-file"     # 使用标准的 JSON 日志驱动
      options:
        max-size: "100m"      # 单个容器日志文件最大 100MB
        max-file: "3"         # 最多保留 3 个备份文件